/*** Header ***/

/* Animation */
@keyframes headSlide {
    0% {-webkit-transform: translateY(-800px);}
    50% {-webkit-transform: translateY(40px);}
    100% {-webkit-transform: translateY(0px);}
}

@keyframes barrelRole {
    0% {translatex(-800px);}
    100% {-webkit-transform: matrix(360, 0, 50), translatex(50px);}

}

.slideObjects {
	padding-top: 80px;
	animation-name: headSlide;
    animation-duration: 1s;
}
.icon-animate {
	padding-top: 80px;
	animation-name: iconScale;
    animation-duration: 1s;
}
.blog-animate {
	padding-top: 80px;
	animation-name: barrelRole;
    animation-duration: 2s;
}
.head {
	background: url('graphics/head.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: ccover;
	-o-background-size: cover;
	background-size: cover;
	display: table;
	height: 500px;
	width: 100%;
}
.avatar {
	background: url('graphics/JulieAlmeida.png') no-repeat;
	margin: auto;
	padding-bottom: 25px;
	height: 140px;
	width: 140px;
}
.avatar-txt-bg {font-size: 43px; text-transform: uppercase;}
.avatar-txt-sm {font-size: 24px; text-transform: uppercase;}

/* Navigation */
nav a {color: inherit;}
nav a:hover {color:inherit; text-decoration: underline;}

.inline {display: inline-block;}
.p5 {padding: 5px;}

/*** Bio Section ***/

.constrained {max-width: 350px;}
.center {margin: auto;}

@media (min-width: 1200px) {
		.divider {
		margin-top: 40px;
		height: 400px;
		width: 5px;
		background-color: #fff;
	}
}
@media (max-width: 950px) {
		.divider {
		margin-top: 30px;
		margin-bottom: 30px;
		height: 5px;
		width: 50%;
		background-color: #fff;
	}
}

.pt10 {
	padding-top: 10px;
}

/*** Portfolio ***/

.portfolio-head {
	position: relative;
	padding: 30px 0;
	margin-bottom:80px;
}
.portfolio-head:after {
	content:"";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 129px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 60px solid #85ba95;
}
.circle {
	width: 275px;
	height: 275px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 12px solid #e7e7e7;
	border-radius: 50%;
	margin-bottom: 30px;
}

/*** Blog ***/

.parent {
  position: relative;
  margin-top:120px;
}
.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


@media (max-width: 950px) {
	.blog {margin-top: 120px;}
	.blog-arrow {transform: rotate(90deg);}
	.mb15 {margin-bottom: 15px;}
}

/*** Icons ***/
.nav-icons .bio {
	background: url('graphics/icons.png') -6px 0;
	display: inline-block;
	width: 15px;
	height: 33px;
	padding-top: 33px;
}

.nav-icons .portfolio {
	background: url('graphics/icons.png') -67px 0;
	display: inline-block;
	width: 28px;
	height: 33px;
	padding-top: 33px;
}
.nav-icons .contact {
	background: url('graphics/icons.png') -147px 0;
	display: inline-block;
	width: 34px;
	height: 33px;
	padding-top: 33px;
}
.nav-icons .blog {
	background: url('graphics/icons.png') -211px 0;
	display: inline-block;
	width: 29px;
	height: 33px;
	padding-top: 33px;
}
.bio-lg {
	background: url('graphics/icons.png') -295px -352px;
	display: inline-block;
	width: 140px;
	height: 140px;
}
.ethos-lg {
	background: url('graphics/icons.png') -442px -346px;
	display: inline-block;
	width: 140px;
	height: 140px;
}
.wordpress {
	background: url('graphics/icons.png') -6px -47px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.captivate {
	background: url('graphics/icons.png') -308px -47px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.illustrator {
	background: url('graphics/icons.png') -154px -198px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.photoshop {
	background: url('graphics/icons.png') -450px -198px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.indesign {
	background: url('graphics/icons.png') -308px -199px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.camtasia {
	background: url('graphics/icons.png') -154px -47px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.html {
	background: url('graphics/icons.png') -6px -198px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.css {
	background: url('graphics/icons.png') -461px -46px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.powerpoint {
	background: url('graphics/icons.png') -10px -357px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.word {
	background: url('graphics/icons.png') -154px -364px;
	display: inline-block;
	width: 128px;
	height: 128px;
}
.contact-icon:before {
	background: url('graphics/icons.png') -345px -553px;
	position: relative;
	top: -60px;
	left: 50%;
	transform: translatex(-50%);
	width: 114px;
	height: 130px;
	margin-top: 60px;
	margin-bottom: -70px;
}

.social-lg i {font-size:80px; padding:20px 20px 60px 20px;}
.double-arrow {
	background: url('graphics/icons.png') -494px -586px;
	display: inline-block;
	width: 56px;
	height: 52px;
}
.edx-lg {
	background: url('graphics/icons.png') -6px -498px;
	display: inline-block;
	width: 220px;
	height: 220px;
}
/*** Fonts ***/
.signo {font-family: "signo",sans-serif;}

/*** Colors ***/
.white {color: #fff;}
.green {color: #85ba95;}
.dark-grey {color: #727373;}
.darker-grey {color: #373a3d;}
.light-grey {color: #e7e7e7;}

.white-back {background-color: #fff;}
.green-back {background-color: #85ba95;}
.dark-grey-back {background-color: #727373;}
.light-grey-back {background-color: #e7e7e7;}
